body{
  background-color: rgb(25, 25, 25);
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  color: white;
  
  font-weight: bold;
  font-size: 30px;
}
.move-icon{
  height: 50px;
  
  
}
.move-button{
  background-color: rgb(25, 25, 25);
  border: 2px solid white;
  height: 120px;
  width: 120px;
  border-radius:60px ;
  margin-left: 8px;
}
.move-button:hover{
  background-color: rgba(128, 128, 128, 0.516);
  transition: 0.30s;
}
.move-button:active{
  opacity: 0.50;
  transition: 0.30s;
}
.result{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
}
.moves{
  color: white;
  margin-bottom: 34px;
}
.score{
  color: white;
}
.reset-btn{
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 0px;
  border-style: none;
  margin-top: 20px;
}