body{
  font-family: Arial, Helvetica, sans-serif;
  
}
.todo-input,
.date-input{
  padding: 6px;
}
.addTodoList-btn{
  display: flex;
  justify-content: center;
  color: white;
  background-color: green;
  padding-top: 8px;
  padding-bottom: 8px;
  
  border: none;
  font-size: 15px;
}
.delete-btn{
  color: white;
  background-color: darkred;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 15px;

}
.todo-row{
  margin-top: 6px;
}
.todo-row,
.input-row{
  display: grid;
  grid-template-columns: 250px 150px 100px;
  column-gap: 10px;
  
  align-items: center;
}
.input-row{
  margin-bottom: 10px;
}